.card{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}


.selector{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 500px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.grafica{
    height: 600px;
    width: 600px;
}